* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

h1 {
    font-size: 3rem;
    font-weight: 450;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

h3 {
    font-size: 2rem;
    font-weight: 450;
    color: rgba(83, 81, 81, 0.575);
}
h5 {
    font-size: 1.1rem;
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contents {
    gap: 3rem;
    border: 1px solid rgba(128, 128, 128, 0.087);
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.041);
    padding: 1rem;
}

hr {
    width: 100%;
}


.main {
    flex-direction: column;
    gap: 2rem;
}

.flexUtil {
    flex-direction: column;
}

.text {
    width: 30vw;
    gap: 2rem;
}
.navbar {
    height: 4rem;
    background-color: #0d1b2a;
    gap: 5rem;
    padding: 0px 20rem;
    color: rgba(255, 255, 255, 0.731);
}

.rating {
    background-color:rgba(78, 148, 252, 0.135);
    width: 7rem;
    border-radius: 15px;
    padding: 1rem;
    color: rgb(2, 2, 172);
}

.header {
    margin-top: 2rem;
    gap: 1rem;
    align-items: flex-start;
    width: 65vw;

}

.headerIn {
    width: 100%;
    justify-content: space-between;
}

.footer {
    width: 100%;
    background-color: #0d1b2a;
    height: 70vh;
    align-items: normal;
    color: rgba(255, 255, 255, 0.731);
}

.subtext {
    height: 20vh;
    width: 60vw;
}

.footerIn {
    width: 75vw;
    margin-top: 4rem;
    align-items: unset;
    height: 50%;
}

.dealcard {
    width: 20vw;
    gap: .3rem;
}

.lists {
    align-items: unset;
    gap: 1rem;
}

.vbtn {
    margin-top: 50px;
    width: 14rem;
    padding: 1rem;
    border-radius: 15px;
    border: 0px;
    background-color:rgba(5, 105, 255, 0.9);
    color: white;
}

.vdbtn {
    width: 100%;
    padding: 1.2rem;
    border-radius: 15px;
    border: 0px;
    background-color:rgba(5, 105, 255, 0.9);
    color: white;
    font-size: medium;
}

.sbtn {
    width: 6rem;
    padding: .7rem;
    border-radius: 0px 10px 10px 0px;
    border: 0px;
    background-color:rgba(5, 105, 255, 0.9);
    color: white;
}

.search-bar {
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    font-size: 16px;
}

.sign-bar {
    padding: .5rem;
    border: 2px solid #ccc;
    border-radius: 10px 0px 0px 10px;
    flex: 1;
    font-size: 16px;
}